*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.header-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 30px 0;
  align-items: center;
}
.header-container img{
  cursor: pointer;
}
.header-bar{
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-input{
  height: 50px;
  outline: none;
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  border-radius: 31px;
  border-radius: 31px;
  background: #ffffff;
  box-shadow:  0px 1px 1px #666666,
               -1px -1px 1px #ffffff;
  appearance: none;
}
.fa-magnifying-glass{
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
  transition: all 0.5s;
}
.fa-magnifying-glass:hover{
  background-color: #05a905;
}
i{
  cursor: pointer;
  color: black;
}

.navigation{
  border-bottom: 1px solid rgb(206, 204, 204);
  position: sticky;
  overflow: hidden;
}
.nav-links{
  width: 80%;
  margin: auto;
  padding: 30px 0;
}
.nav-links ul{
  display: flex;
  gap: 30px;
}
.nav-links ul li{
  list-style: none;
}
.nav-links ul li a{
  color: black;
  text-decoration: none;

}


/* hero section */


.hero-container{
  width: 80%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #e9e9e9;
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .hero-container{
    grid-template-columns: 1fr;
  }
}


.write-up{
  font-size: 15px;
  background-color: #e9e9e9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
h1{
  font-weight: 500;
}
h4, p, span{
  font-weight: 300;
}
p{
  font-size: 14px;
  color: #808080;
  padding: 0 0 10px;
  line-height: 25px;
}
h3{
  font-weight: 400;
}
h5{
  font-weight: 500;
  padding-bottom: 3px;
  font-size: 12px;
}
h6{
  font-weight: 400;
}
h1,h2,h3,h4,h5{
  padding-bottom: 10px;
}
.date, .fa-star{
  font-size: 11px;
  color: #808080;
}
.article-img{
  background-image: url(https://img.freepik.com/free-photo/serious-young-colleagues-sitting-office-coworking_171337-17681.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
}
.article-img2{
  background-image: url(https://img.freepik.com/free-photo/peaceful-businessman-vr-headset-enjoying-virtual-video_74855-2082.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
}


/* blog */
.blog-container> h3{
  text-decoration: underline;
}

.blog{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.editor{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.news{
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 20px;
}
.news-read{
  padding: 5px;
}
.news-img1{
  background-image: url(https://img.freepik.com/premium-photo/one-manager-works-laptop-night-office-male-worker-dark-business-center-interior-modern-workplace_266732-21358.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-position: center;
  background-size: cover;
}
.news-img2{
  background-image: url(https://img.freepik.com/free-photo/medium-shot-bored-people-working_23-2150697560.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-position: center;
  background-size: cover;
}
.news-img3{
  background-image: url(https://img.freepik.com/premium-photo/tablet-research-night-planning-businessman-working-email-internet-while-dark-office-work-corporate-african-employee-reading-communication-online-tech-while-doing-overtime_590464-87130.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-position: center;
  background-size: cover;
}

.blog img{
  width: 100%;
}


.editor2{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trending p, .fa-angle-right{
  font-size: small;
  padding-top: 20px;
  color:  #05a905;
}
.trending h3{
  text-decoration: underline;
}


.trends-box{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.trends{
  display: flex;
}
.trends h1{
  padding: 0 10px;
  font-weight: 500;
  color: #dedcdc;
  font-size: 35px;
}

.trends h4{
  font-weight: 500;
}



.pb{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  gap: 30px;
}

.p-box, .b-box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.politics-container h3{
  padding-bottom: 50px;
  text-decoration: underline;
}
.business-container h3{
  padding-bottom: 50px;
  text-decoration: underline;
}


.politics, .business{
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 30px;
}

.p-img1{
  background: url(https://img.freepik.com/free-photo/side-view-man-with-virtual-reality-headset_23-2148850996.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-size: cover;
  background-repeat: no-repeat;
}
.p-img2{
  background: url(https://img.freepik.com/free-photo/focused-woman-testing-vr-headset_74855-4231.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-size: cover;
  background-repeat: no-repeat;
}
.p-img3{
  background: url(https://img.freepik.com/premium-photo/skilled-technician-server-hub-providing-dedicated-vpn-servers-able-deliver-enhanced-security-encrypted-sensitive-data-online-anonymity-fast-speed-bandwidth-users_482257-68004.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-size: cover;
  background-repeat: no-repeat;
}


.recent-post{
  display: grid; 
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}


.recent h3{
  text-decoration: underline;
}
.r-box{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: small;
}
.r-read{
  padding: 20px 30px 20px 0;
}
.r-read h3{
  text-decoration: none;
  color: #666666;
}
.r-box h4{
  font-weight: 400;
}
.r-box p{
  font-size: 1em;
}

.r-box-p{
  margin-top: 30px;
  letter-spacing: 10px;
}
.r-box-p span{
  font-weight: 600;
  color: black;
}
.r-img1{
  background-image: url(https://t4.ftcdn.net/jpg/05/50/05/05/240_F_550050513_LR2CHpHOmvZnIOqKBd1Rd81izLXovFNh.jpg);
  background-size: cover;
}
.r-img2{
  background-image: url(https://img.freepik.com/free-photo/woman-having-fun-with-vr-headset_53876-70976.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-size: cover;
}
.r-img3{
  background: url(https://img.freepik.com/free-photo/medium-shot-couple-with-laptop_23-2149145054.jpg?size=626&ext=jpg&ga=GA1.2.746289648.1661586601&semt=ais);
  background-size: cover;
}


.np-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.new-post h4{
  font-weight: 500;
}
.new-post h3{
  text-decoration: underline;
}
.np-box{
  display: flex;
}
.np-box h1{
  padding: 0 10px;
  font-weight: 500;
  color: #dedcdc;
  font-size: 35px;
}

.cta{
  background-color: #e8edea;
  margin-top: 150px;
}
.cta-container{
  width: 80%;
  margin: auto;
  padding: 100px 0 100px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  align-items: center;
}
.cta-news{
  font-size: 0.6rem;
}
.cta-news p{
  font-size: small;
}

.cta-input{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cta input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border-radius: 20px;
  border: none;
}

.fa-paper-plane{
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  transition: all 0.5s;
}
.fa-paper-plane:hover{
  background-color: #05a905;
}


footer{
  padding: 20px;
  text-align: center;
}

.fa-heart{
  color: red;
}












#image-container{
  box-shadow: 0 0 5px 0 black;
  padding: 10px;
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
#image-container div{
  box-shadow: 0 0 5px 0 black;
  border-radius: 10px;
  padding: 10px;
}
